body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  align-items: center;
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center {
  align-content: center;
}

.d-flex div {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 10px;
}
